// Pantallas 1400px

@media(min-width: 1400px) {

    nav,
    .servicios,
    .footer-content,
    .presentacion {
        width: 60%;
        margin: auto;
    }

    #intro, #equipo {
        width:90% !important;
        margin:auto;
    }
  
    #local {
        flex-wrap: wrap;
        padding-top:30px;
   }
   .wrapper-local {
    width:90%;
    margin:auto;
    padding-top:50px;    
   }
}



// Pantallas 992

@media(max-width:992px) {

    .presentacion,
    .tipo-servicios {
        flex-direction: column;
    }


    .presentacion div {
        text-align: center;
        margin-bottom: 30px;
    }

    nav {
        @include caja-flex(center, center, wrap);
        padding-bottom: 20px;
        padding-top: 20px;

        ul {
            padding-left: 0;
        }
    }
}

// Pantallas 420px

@media(max-width:420px) {

    .presentacion div {
        text-align: center;
        margin-bottom: 30px;

        h1,
        p {
            padding: 0;
        }
    }
}