@import 'global';

body{
    background-color: black;
}

.logo{
    width:100px;
    height:20px;
}

header{
    position:fixed;
    top:0;
    border-top: 30px solid rgb(52, 53, 51);
    width:100%;
}
headear a{
    color: $base-color;
     font-size: $font-h1;
}


.wrapper{
    background-color: lightgrey;
    padding-top: 100px;
    padding-bottom:100px;
}





nav{
    @include caja-flex(space-between, center, nowrap);

    ul{
        display:flex;
        padding:0;

        a{
            padding: 10px;
            font-size: 1.6rem;
            font-weight:bold;
        }

        a:hover{
            color:#6495ED;
            transform: scale(1.1);
        }
    }
}

.presentacion{
    padding-top: 200px;
    padding-bottom:50px;
    @include caja-flex(space-between, center, nowrap);

    .flex-item2{
        text-align:center;
    }

    h1{
        color: $base-color;
        margin-top:0;
        padding-right: 20px;
        font-size: $font-h1;
    }

    p{
        color: $base-color;
        padding-right: 20px;
        padding-bottom: 10px;
    }
}

.servicios{
    div{
        text-align: center;
    }

    .tipo-servicios{
        @include caja-flex(center, center, nowrap);
        i{
            font-size: 30px;
            color: #6495ED;
        }
    }
}

// Principio de contacto

.grid-container{
 background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
display: grid;
gap: 10px;
grid-template-columns:  column repeat(auto-fit, minmax(150px, 1fr));

}

.grid-container > div {
    background-color: black;
    border: $border-c;
    color: aliceblue;
    text-align: center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: column;
    font-size: $font-p;
    padding: 30px;
   box-sizing: initial;
    
 
}

.fondo-c{
    background-image:url(https://cdn.pixabay.com/photo/2018/05/01/22/46/network-operator-3367207_640.jpg) ;
    background-size: cover;
    
}


.fondo-c2{
    background-image:url(https://cdn.pixabay.com/photo/2016/08/30/13/23/efaflex-1630737_640.jpg) ;
    background-size: cover;
}

a{
    font: $font-p;
}
    



//Fin de contacto

footer{
    min-height: 80px;
    background-color: rgb(52, 53, 51);
    margin-top: 0;
    .footer-content{
        text-align:center;
        padding-top:30px;
        padding-bottom:30px;
    }
}

@import 'medios';


