@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: "Noto Sans JP", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: rgb(134, 132, 132);
}

img {
  width: 80%;
  height: auto;
}

nav,
.servicios,
.presentacion,
.footer-content {
  width: 80%;
  margin: auto;
}

.titulo-servicios,
.presentacion {
  margin-bottom: 10%;
}

p {
  font-size: 1.8rem;
  color: rgb(134, 132, 132);
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
  font-weight: lighter;
}

.btn, .btn-secundario, .btn-principal {
  border: none;
  border-radius: 2px;
  padding: 0.7em 1.5em;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  transition: transform 100ms;
}
.btn:hover, .btn-secundario:hover, .btn-principal:hover {
  transform: scale(1.1);
}

.btn-principal {
  color: #fff;
  background-color: #6495ED;
}

.btn-secundario {
  background-color: rgb(134, 132, 132);
}

.body-m {
  background-image: url(https://lh3.googleusercontent.com/p/AF1QipOi0cWQi9q2YDXrabby3E4HBQJp44UAW4TEGFq4=s1360-w1360-h1020);
}

.logo {
  width: 100px;
  height: 20px;
}

#menu header {
  position: fixed;
  top: 0;
  border-top: 30px solid rgb(52, 53, 51);
  width: 100%;
}
#menu header a {
  color: rgb(236, 8, 8);
  font-size: 3rem;
}

.wrapper {
  background-color: lightgrey;
  padding-top: 100px;
  padding-bottom: 100px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
nav ul {
  display: flex;
  padding: 0;
}
nav ul a {
  padding: 10px;
  font-size: 1.6rem;
  font-weight: bold;
  color: black;
}
nav ul a:hover {
  color: #6495ED;
  transform: scale(1.1);
}

.pf {
  font-size: 2.4rem;
  color: black;
}

.presentacion {
  padding-top: 200px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.presentacion .flex-item2 {
  text-align: center;
}
.presentacion h1 {
  color: rgb(236, 8, 8);
  margin-top: 0;
  padding-right: 20px;
  font-size: 3rem;
}
.presentacion p {
  color: rgb(236, 8, 8);
  padding-right: 20px;
  padding-bottom: 10px;
}

.servicios div {
  text-align: center;
}
.servicios .tipo-servicios {
  display: flex;
  justify-content: center;
  align-items: normal;
  flex-wrap: nowrap;
}
.servicios .tipo-servicios i {
  font-size: 30px;
  color: #6495ED;
}

.body-c {
  background: url(https://media.istockphoto.com/id/1364376802/es/vector/brillo-desenfoque-de-fondo-moderno.jpg?s=612x612&w=0&k=20&c=nWxE0zhTdcYBhcnr7129YrUjVYY2aRtyiBpD9TzeEHw=) no-repeat center center fixed;
  background-size: cover;
}

#contenedor-formulario {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}

#tel, #msj, #email, #nombre {
  background: rgba(249, 249, 250, 0.1);
}

::-moz-placeholder {
  color: rgb(245, 245, 245) !important;
}

:-ms-input-placeholder {
  color: rgb(245, 245, 245) !important;
}

::placeholder {
  color: rgb(245, 245, 245) !important;
}

.body-p {
  background-color: #455a64;
  padding: 20px;
}

.footer-index {
  min-height: 80px;
  background-color: rgb(52, 53, 51);
  margin-top: 0;
}
.footer-index .footer-content {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (min-width: 1400px) {
  nav,
.servicios,
.footer-content,
.presentacion {
    width: 60%;
    margin: auto;
  }
  #intro, #equipo {
    width: 90% !important;
    margin: auto;
  }
  #local {
    flex-wrap: wrap;
    padding-top: 30px;
  }
  .wrapper-local {
    width: 90%;
    margin: auto;
    padding-top: 50px;
  }
}
@media (max-width: 992px) {
  .presentacion,
.tipo-servicios {
    flex-direction: column;
  }
  .presentacion div {
    text-align: center;
    margin-bottom: 30px;
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  nav ul {
    padding-left: 0;
  }
}
@media (max-width: 420px) {
  .presentacion div {
    text-align: center;
    margin-bottom: 30px;
  }
  .presentacion div h1,
.presentacion div p {
    padding: 0;
  }
}/*# sourceMappingURL=main.css.map */