@import 'global';

.body-m{
    background-image: url(https://lh3.googleusercontent.com/p/AF1QipOi0cWQi9q2YDXrabby3E4HBQJp44UAW4TEGFq4=s1360-w1360-h1020);
}

.logo {
    width: 100px;
    height: 20px;
}
#menu{
header {
    position: fixed;
    top: 0;
    border-top: 30px solid rgb(52, 53, 51);
    width: 100%;
}

header a {
    color: $base-color;
    font-size: $font-h1;
}
}

.wrapper {
    background-color: lightgrey;
    padding-top: 100px;
    padding-bottom: 100px;
}





nav {
    @include caja-flex(space-between, center, nowrap);

    ul {
        display: flex;
        padding: 0;

        a {
            padding: 10px;
            font-size: 1.6rem;
            font-weight: bold;
            color: white;

        a:hover {
            color: #6495ED;
            transform: scale(1.1);
        }
    }

    }
}

.pf{
    font-size: $font-h2;
    color: white;
}



.presentacion {
    padding-top: 200px;
    padding-bottom: 50px;
    @include caja-flex(space-between, center, nowrap);

    .flex-item2 {
        text-align: center;
    }

    h1 {
        color: $base-color;
        margin-top: 0;
        padding-right: 20px;
        font-size: $font-h1;
    }

    p {
        color:$base-color;
        padding-right: 20px;
        padding-bottom: 10px;
    }
}

.servicios {
    div {
        text-align: center;
    }

    .tipo-servicios {
        @include caja-flex(center, normal, nowrap);

        i {
            font-size: 30px;
            color: #6495ED;
        }
    }
}

// Principio de contacto

.body-c {
    background:url(https://media.istockphoto.com/id/1364376802/es/vector/brillo-desenfoque-de-fondo-moderno.jpg?s=612x612&w=0&k=20&c=nWxE0zhTdcYBhcnr7129YrUjVYY2aRtyiBpD9TzeEHw=) no-repeat center center fixed;
    background-size:cover;
}

#contenedor-formulario{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    backdrop-filter:blur(1px);
}

#tel, #msj, #email, #nombre {
    background: rgba(249, 249, 250, 0.1)
}

::placeholder {
    color: rgb(245, 245, 245) !important;
}

//FIN DE CONTACTO

//principio productos

.body-p{
    background-color: $color-principal;
    padding: 20px;
}
 //fin de productos

 .distri-c{
    background-color: $color-principal;
 }


.footer-index{
    min-height: 80px;
    background-color: rgb(52, 53, 51);
    margin-top: 0;
    .footer-content{
        text-align:center;
        padding-top:30px;
        padding-bottom:30px;
    }
}


@import 'medios';


